<%- include('partials/header') %> 
<aside class="right-side">
    <section class="content-header">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Home
                </a>
            </li>
            <li class="active">
                Add Contact
            </li>
        </ol>
    </section><hr>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Add Contact</h3>
                    </div>
                    <% if (typeof message !=='undefined' && message.length> 0) { %>
             
                        <div class="alert alert-warning" style="text-align: center; font-size: 17px!important; border-radius: 0%;">
                            <%= message %> &nbsp; &nbsp; &nbsp;<a href="/contact" style="color:#3d9970">&#10006;</a>
                        </div>
                    
                    <% } %>
                    <form action="/addContact" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" name="contact_name" value="<%= values.contact_name %>" placeholder="Enter Name" >
                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error1 %>
                                    </div>
                                    <% } %>
                                 </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" name="contact_email" value="<%= values.contact_email %>" placeholder="Enter Email">
                                <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error2 %>
                                    </div>
                                    <% } %>
                                 </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Contact Number</label>
                                <input type="number" class="form-control" name="contact_no" value="<%= values.contact_no %>" placeholder="Enter Contact Number">
                                <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error3 %>
                                    </div>
                                    <% } %>
                                 </div>
                        
                            <div class="form-group">
                                <label for="exampleInputEmail1">Message</label>
                                <textarea class="form-control" maxlength="255" rows="4" cols="20" style="height: 100%!important;" name="msg" ><%= values.msg %></textarea>
                                <% if (typeof error4 !=='undefined' && error4.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error4 %>
                                    </div>
                                    <% } %>
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Date</label>
                                    <input type="date" class="form-control" name="date" value="<%= values.date %>" placeholder="Enter Date">
                                
                                    <% if (typeof error5 !=='undefined' && error5.length> 0) { %>
                                        <div style="color: red;">
                                          <%= error5 %>
                                        </div>
                                        <% } %>
                                    </div>
                            <div class="box-footer">
                                <input class="btn btn-primary"  type="submit" style="padding: 5px 10px;
                                font-size: 18px;" value="Submit">  
                                  <a href="/contact"><input class="btn btn-warning"  type="button" style="padding: 5px 10px;
                                   font-size: 18px;" value="Cancel">  </a>         
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">All Project List</h3>
                        <a href="/contact" class="btn btn-danger" id="delete" style="margin: 0 0 0 15px;">Delete</a>
                    </div>
               

                <div class="table-responsive">
                        <table id="example" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% i=1 %>
                                        <% users.forEach(function(user){ %>
                                            <tr>
                                <td><input type="checkbox" class="select" value="<%= user.id %>"></td>
                                <td><%= user.contact_name %></td>
                                <td><%= user.contact_email %></td>
                                <td><%= user.contact_no %></td>
                                <td><%= user.msg %></td>
                                <td><%= user.date %></td>
                                <td>
                                    <a href="viewContact?id=<%= user.id %>" style ="
                                        width: 60px; "
                                        class="btn btn-sm btn-primary">View</a>
                                        <a href="editContact?id=<%= user.id %>" style ="
                                            width: 60px;"
                                            class="btn btn-sm btn-primary">Edit</a>
                                            <a href="deleteContact?id=<%= user.id %>" style ="
                                                width: 60px;"
                                                class="btn btn-sm btn-primary">Delete</a>
                                </td>
                                            </tr>
                                            <% i=i+1 %>
                                            <% }); %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script>
    let btnShow= document.getElementById('delete');
    let checkbox = [];

    btnShow.addEventListener('click', _=>{
        let check = document.querySelectorAll('input[type="checkbox"]:checked');
        for(let i=0; i<check.length; i++){
            checkbox.push(check[i].value)
        }
        console.log(check.length)
        console.log(checkbox)
        fetch('/contact', {
            method: 'delete',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id:checkbox})
        })
    });
</script>
</body>
</html>
