
            <%- include('./partials/header'); %>

            <aside class="right-side" style="padding-top: 10%;">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-8">
                        <% if (typeof error !=='undefined' && error.length> 0) { %>
             
                            <div class="alert alert-warning" style="text-align: center; font-size: 17px!important; border-radius: 0%;">
                                <%= error %> &nbsp; &nbsp; &nbsp;<a href="/dashboard" style="color:#3d9970">&#10006;</a>
                            </div>
                        
                        <% } %>
                <form class="cmxform" method="post" action="/resetPass">
                   <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label  class="col-md-6 control-label">Current updatePassword</label>

                                <input class="form-control" name="current_password" type="password"
                                placeholder="Enter Current Password ">
                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error1 %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label  class="col-md-6 control-label">New Password</label>

                                <input class="form-control" name="password" type="password"
                                 placeholder="Enter New Password">
                                <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error2 %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label  class="col-md-6 control-label">Confirm New Password</label>

                                <input class="form-control" name="confirm_password" type="password"
                                placeholder="Enter Confirm New Password">
                                <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                    <div style="color: red;">
                                      <%= error3 %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
 
<br>
                    <input class="btn btn-primary" style="margin: 0% 0% 2% 40%;" type="submit"
                        value="Submit">
                  
                   
                </form>
                </div>
                <div class="col-lg-3"></div>
            </aside>
            </div> 
            </body>
            </html>